.pokedex-wrapper{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(61, 60, 60); */
    
}
#pokedex-heading{
    margin: 0 auto;
    color: rgb(235, 237, 247);
    letter-spacing: 4px;
}