.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  flex-basis: 20%;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  border: 1px solid #756969ae; /* Optional: add a border for visual separation */
  border-radius: 8px; /* Optional: add some border radius for rounded corners */
  text-align: center; /* Center the text */
  margin: 1rem;
}


.pokemon:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pokemon-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: rgb(61, 60, 60); /* Consistent text color */
}

.pokemon-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}